/*-- scss:defaults --*/

$font-family-sans-serif: "Inter", sans-serif;
$presentation-heading-font: "Inter", sans-serif;
$font-family-monospace: "JetBrains Mono", monospace;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
